*{
	box-sizing: border-box;
}

html{
	font-family: 'Lato', sans-serif;
}

.vista{
    margin-left: 19%;
    width: 81%;
    height: calc(100vh - 3px) !important;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: #29597c;
}


.lateral{
	background-color: #042039;
	bottom: 0;
	left: 0;
	padding: 1em;
	position: fixed;
	top: 0;
	width: 19%;
}

.perfil_circulo{
	border-radius: 50%;
	height: 140px;
	overflow: hidden;
	margin: 1em;
	width: 140px;
}

.perfil_foto{
	width: 100%;
}

.perfil_nombres{
	color: #fff;
	font-size: 25px;
	margin-left: .5em;
	width: 250px;
}

.perfil_nombres, .perfil_circulo{
	display: inline-block;
	vertical-align: middle;
}

.informacion{
	color:#FCF8B6 ;
	position: absolute;
	bottom: 1em;
	margin-right: .6em;
}

.informacion_titulo{
	font-size: 18px;
}

.habilidades{
	padding: 0;
}

.habilidad{
	background-color:#ED7625 ;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: .5em;
}

.habilidad_proyecto{
	background: color #ED7625;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: .5em;
}

.proyectos{
    background-color: #F6F6F6;
	padding: 1em;
	display: table;
}

.proyecto{
	display: table-cell;
	width: 33%;
	padding: 1em;
}

.proyecto__imagen{
	width: 100%;
	border-radius: 100%;
	height: 100%;
	overflow: hidden;
	margin: 1em;
}

.proyecto_titulo{
	color:#5531A0;
	font-size: 18px;
}

.proyecto_descripcion{
	color: grey;
}

.enlace{
	background-color:#ED7625 ;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: .01em;
}

.cuerpo{
	width: 100%;
}

@media screen and (max-width: 1100px) {
	
	.informacion{
		position: relative;
	}
	
	.lateral{
		width: 100%;
		height: auto;
		position: relative;
	}
	
	.proyectos{
		margin-left: 0;
		width: 100%;
	}
	
	.vista{
	    margin-left: 0%;
	    width: 100%;
	    height: calc(100vh - 3px) !important;
	}
}

@media screen and (max-width: 600px) {
	
	.cuerpo{
		width: 100%;
	}

	.informacion{
		position: relative;
	}

	.perfil_nombres{
		position: relative;
	}
	
	.proyecto{
		width: 100%;
		display: block;
	}

	.proyectos{
		margin-left: 0;
		width: 100%;
	}
	
	.vista{
	    margin-left: 0%;
	    width: 100%;
	    height: calc(100vh - 3px) !important;
	}
}
